/TeamProjectDevelopment/.vs
TeamProjectDevelopment/.vs/TeamProjectDevelopment/v15/.suo
TeamProjectDevelopment/.vs/TeamProjectDevelopment/v15/.suo
TeamProjectDevelopment/.vs/TeamProjectDevelopment/v15/Server/sqlite3/storage.ide
/TeamProjectDevelopment/.vs/TeamProjectDevelopment/v15/*.suo
/TeamProjectDevelopment/.vs/TeamProjectDevelopment/v15/Server/sqlite3/*.ide
