<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="localPath" value="..\\database"/>
      <add key="databaseCon" value="Provider=Microsoft.Jet.OLEDB.4.0 ;Data Source="/>
      <add key="serverAddress" value="..\\server"/>
      <add key="versionFile" value="..\\versionFile"/>
      <add key="otherDbs" value="..\\otherDbs\\"/>
      <add key="address" value="..\\database\\address.txt"/>
    </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\vs\TeamProjectDevelopment\TeamProjectDevelopment\bin\database\2.mdb"/>
  </connectionStrings>
</configuration>
